<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.psa.kblog.blogs">

    <application
        tools:ignore="AllowBackup,MissingApplicationIcon">
        <activity android:name=".BlogsActivity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="blogs"
                    android:scheme="kblogs" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="feature.injector.blogs"
            android:value="com.psa.kblog.blogs.BlogsComponentBuilder" />
    </application>

</manifest>